body
  background-image: url('/images/top_bg.png')
  background-repeat: repeat-x


div.wrapper
  margin: auto
  width: 960px


div#header
  height: 190px
  margin: 25px 20px 0
  position: relative

  div#logo
    background-image: url('/logo.png')
    background-repeat: no-repeat
    float: left
    height: 141px
    width: 200px

  span#slogan
    float: right
    margin-top: 40px

  div#menu
    background-image: url('/images/gradient.png')
    background-position: 0 25px
    background-repeat: no-repeat
    bottom: 10px
    height: 49px
    position: absolute
    width: 100%

    li
      display: inline
      margin-left: 10px
      padding: 7px

    li:hover
      background-image: url('/images/arrow.png')
      background-position: 50% 100%
      background-repeat: no-repeat
      height: 7px
      width: 7px


div#footer
  height: 300px
  position: relative
  @include linear-gradient(#4FADE5, #2593D3)
  @include enable-ie-css3

  p#info
    background-color: #93C9E8
    bottom: 0
    color: #FFF
    font-family: Verdana
    font-size: 13px
    letter-spacing: -1px
    padding: 12px 0
    position: absolute
    width: 100%
    @include text-shadow(1px, 1px, 0, #1E6792)
    @include enable-ie-css3

    a
      color: #FFF