body
  background-image: url('/images/top_bg.png')
  background-repeat: repeat-x


div#wrapper
  margin: auto
  width: 880px


div#header
  height: 141px
  margin-top: 30px

  div#logo
    background-image: url('/images/logo.png')
    background-repeat: no-repeat
    float: right
    height: 141px
    width: 200px

  span#goals
    float: left
    margin-top: 45px


div#menu
  background-image: url('/images/gradient.png')
  background-position: 0 20px
  background-repeat: no-repeat
  height: 49px
  width: 880px
