@font-face
  font-family: 'HelveticaNeue-UltraLight'
  src: url('/fonts/HelveticaNeueUltraLight.eot')
  src: url('/fonts/HelveticaNeueUltraLight.eot?#iefix') format('embedded-opentype')
  src: url('/fonts/HelveticaNeueUltraLight.woff') format('woff')
  src: url('/fonts/HelveticaNeueUltraLight.ttf') format('truetype')
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'HelveticaNeue-Light'
  src: url('/fonts/HelveticaNeueLight.eot')
  src: url('/fonts/HelveticaNeueLight.eot?#iefix') format('embedded-opentype')
  src: url('/fonts/HelveticaNeueLight.woff') format('woff')
  src: url('/fonts/HelveticaNeueLight.ttf') format('truetype')
  font-weight: normal
  font-style: normal


a
  text-decoration: none


div#header

  span#slogan
    color: #828282
    font-family: 'HelveticaNeue-UltraLight'
    font-size: 28px
    text-transform: lowercase


div#menu
  text-align: right
  font-size: 16px
  font-family: 'HelveticaNeue-Light'

  a
    color: #828282
    @include transition(color, 0.2s, ease-in-out, 0s)
    @include enable-ie-css3

  a:hover, a.current
    color: #2294D1


div#footer
  text-align: center
