a
  color: #818181
  font-family: Arial
  text-decoration: none


a:hover
  color: #2294D1


div#header

  span#goals
    color: #B9B9B9
    font-size: 28px
    text-transform: lowercase


div#menu

  ul
    font-size: 14px
    font-weight: bold
