div#clocks
  min-height: 100px !important

  h2
    margin-bottom: 20px

  span
    font-weight: bold
    display: block
    margin-top: 10px
    text-align: center

  div.clock
    display: inline-block
    margin-right: 5px
