body
  background-color: $frontend-background-color


div#wrapper
  margin: auto
  width: 1000px


div#header
  border-bottom: 25px solid #99A846
  margin-bottom: 20px

  div#logo
    background-image: url("/logo.png")
    background-repeat: no-repeat
    height: 155px
    margin: 15px 0 0
    width: 300px

  span.options
    background-color: #E5E5E5
    display: block
    padding: 10px
    width: 980px
    text-align: right


div#left-sidebar
  float: left
  width: 125px

  div#navigation

    ul li a
      border: none
      padding: 12px 20px 12px 0


div#main
  float: left
  margin: 0 20px
  width: 660px

  div#content.single
    margin: 20px 0
    width: inherit


div#right-sidebar
  float: right
  width: 175px

  h2
    border-top: 3px solid #6F171B
    margin-bottom: 10px
    padding-top: 5px


div#footer
  border-top: 25px solid #99A846
  clear: both
  padding: 20px 0

  a:hover
    border-bottom: 2px solid $default-color


// =============
// Announcements
// =============


div#announcements
  border: 1px solid #222
  height: 220px
  overflow: hidden
  margin: auto
  position: relative
  width: 660px

  a
    display: inline-block

  a:hover
    border: none
    display: inline-block


div.announcement-tail
  display: none


div#announcement-numbers
  background: url("/images/dark_transparency.png")
  cursor: default
  padding: 10px 10px 13px 13px
  position: absolute
  left: 0


div.announcement img
  height: 220px
  width: 660px


div.announcement-text
  background: url("/images/dark_transparency.png")
  bottom: 0
  padding: 14px 12px 12px 14px
  position: absolute
  right: 0
  width: 300px

  p.title
    padding: 0 0 15px


// =====
// Posts
// =====


div.meta
  background-color: transparent
  padding: 0
  text-align: right
