body
  background-color: $frontend-background-color


div#wrapper
  margin: auto
  width: 1000px


div#header
  border-bottom: 25px solid #99A846
  margin-bottom: 20px
  position: relative

  span.options
    background-color: #E5E5E5
    display: block
    padding: 10px
    width: 980px
    text-align: right

  div#logo
    background-image: url("/logo.png")
    background-repeat: no-repeat
    height: 155px
    margin: 15px 0 0
    width: 300px

  div#ads
    background-color: #E5E5E5
    height: 120px
    position: absolute
    right: 0
    top: 60px
    width: 350px


div#left-sidebar
  float: left
  padding: 0 20px 0 10px
  width: 105px

  h2.title
    border-top: 3px solid #6F171B
    margin-bottom: 10px
    padding-top: 5px

  div#navigation
    height: 185px

    ul li
      margin: 0 0 5px

      a
        border: none

  div#supporters
    div.support-logo
      background-color: #E5E5E5
      height: 80px
      margin: 20px 13px
      width: 80px


div#main
  border-left: 1px solid #E5E5E5
  float: left
  margin-bottom: 20px
  padding: 0 20px
  width: 649px

  div#content.single
    margin: 20px 0 0
    width: inherit


div#right-sidebar
  float: right
  width: 175px

  h2
    border-top: 3px solid #6F171B
    margin-bottom: 10px
    padding-top: 5px


div#footer
  border-top: 25px solid #99A846
  clear: both
  padding: 20px 0

  a:hover
    border-bottom: 2px solid $default-color


// =============
// Announcements
// =============


div#announcements
  border: 1px solid #222
  height: 185px
  overflow: hidden
  margin: auto
  position: relative
  width: 648px

  a
    display: inline-block

  a:hover
    border: none
    display: inline-block


div.announcement-tail
  display: none


div#announcement-numbers
  background: url("/images/dark_transparency.png")
  cursor: default
  padding: 10px 10px 13px 13px
  position: absolute
  left: 0


div.announcement img
  height: 185px
  width: 648px


div.announcement-text
  background: url("/images/dark_transparency.png")
  bottom: 0
  padding: 14px 12px 12px 14px
  position: absolute
  right: 0
  width: 300px

  p.title
    padding: 0 0 15px


// =====
// Posts
// =====


div.meta
  background-color: transparent
  padding: 0
  text-align: right
