div#weather-info
  margin-bottom: 15px

  h2.title
    margin-bottom: 20px

  span
    display: block
    font-weight: bold
    margin-bottom: 15px

  div.left
    display: inline-block
    height: 85px
    width: 85px
    text-align: center

  div.right
    display: inline-block
    height: 85px
    width: 85px
    text-align: center

  span.temperature
    color: #99A846
    font-size: 20px

  span.location
    color: #99A846
    font-size: 14px
